$Stroy-Color: #332e28;

.Stroy {
	padding-top: 50px;
	padding-bottom: 70px;
	font-family: 'Source Code Pro', monospace;
	color: $Stroy-Color;
	font-weight: bold;
	background-color: #cb9d59;
}
.Stroy_text {
	margin-bottom: 50px;
	font-size: 36px;
}